.places:before,
.places:after {
  content: "";
  display: table;
}

.places:after {
  clear: both;
}

.places {
  clear: both;
  *zoom: 1;
}

.places h1 {
    text-align: left;
    font-size: 30px;
}

.places article {
    width: 390px;
    height: 770px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    text-align: center;
    float: left;
}

.places h2 {
    font-size: 30px;
}

.places-header {
    display: inline-block;
    position: relative;
}

.places-header div {
    position: absolute;
    top: 0px;
    right: -120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottop: 1px solid #DDDDDD;
    margin-left: 30px;
}

.information div {
    display: inline-block;
    margin-top: 10px;
}

.information .max_guest {
    width: 100px;
    background-image: url("../images/guest-icon.png");
    background-repeat: no-repeat;
}

.information .number_rooms {
    width: 100px;
    background-image: url("../images/bedroom-icon.png");
    background-repeat: no-repeat;
}

.information .number_bathrooms {
    width: 100px;
    background-image: url("../images/bathroom-icon.png");
    background-repeat: no-repeat;
}

.information p {
    margin-top: 55px;
    margin-left: -50px;
}

.user {
    text-align: left;
    margin-top: 30px;
}

.description {
    margin-top: 15px;
    text-align: left;
}

/*.amen-rev {
    display: flex;
    flex-direction: column;
}

.amenities {
    margin-top: 40px;
    margin-left: 0px;
}

.amenities h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}

.amenities ul {
    margin-left: -35px;
    margin-top: 30px;
}

.amenities li {
    margin-top: 20px;
}

.amenities p {
    margin-left: 100px;
}

.reviews {
    margin-top: 40px;
    text-align: left;
}

.reviews h3, p {
    margin-left: -40px;
}

.reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}

.reviews p {
    margin-top: 0px;
}

.pets {
    background-image: url("../images/pets-icon.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

.tv {
    background-image: url("../images/tv-icon.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

.wifi {
    background-image: url("../images/wifi-icon.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
}*/
